@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Home!</h1>
    <p class="lead">This is git a lead test</p>
    <p>Another P tag</p>
</div>